* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #093145;
  --second-bg-color: #107896;
  --card-bg-color: #9a2617;
}

body {
  margin: 0.5em;
  background-color: var(--main-bg-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: white;
}

body a {
  text-decoration: none;
}

img {
  width: 150px;
  border-radius: 0.25em;
}

button {
  background-color: var(--second-bg-color);
  color: white;
  padding: 0.5em;
  margin: 0.25em;
  border: none;
  border-radius: 0.5em;
}

button:hover {
  cursor: pointer;
}

button.pagination-button {
  background-color: var(--card-bg-color);
}

#main-nav {
  padding: 1em;
  background-color: var(--second-bg-color);
  border-radius: 1em;
  display: flex;
}

#main-nav > * {
  width: 50%;
}

#main-nav a {
  color: white;
}

#main-nav > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

#main-nav > div > a:first-child {
  margin: 0 0.5em 0 0;
}

.home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home h1 {
  margin: 0.5em 0;
}

.home p {
  background-color: var(--second-bg-color);
  padding: 1em;
  border-radius: 1em;
}

.list-parent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.list-parent > h2 {
  padding: 0.5em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-parent > h2 button {
  margin: 0;
  padding: 0.5em;
  font-size: 1rem;
}

.list-nav {
  padding: 0.5em;
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1em);
  border-radius: 0.5em;
}

.list-nav a {
  color: white;
}

.list-nav a:hover {
  cursor: pointer;
}

.list-nav label {
  display: flex;
  align-items: center;
}

.list-back a:first-child {
  padding: 0 0.5em 0 0;
}

.list-fwrd {
  display: flex;
  flex-direction: row-reverse;
}

.list-fwrd a:first-child {
  padding: 0 0 0 0.5em;
}

.inactive > a {
  color: var(--main-bg-color);
}

.inactive > a:hover {
  cursor: default;
}

.campus-list {
  padding: 0.25em 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.campus-card-wrapper {
  background-color: var(--card-bg-color);
  box-sizing: border-box;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  width: calc(50% - 1em);
}

.campus-card-wrapper:hover {
  cursor: pointer;
}

.campus-card {
  display: flex;
  flex-flow: row nowrap;
}

.campus-card-detail {
  width: 100%;
  padding: 0 0 0 0.5em;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.campus-card-detail div:last-child {
  align-self: flex-end;
}

.campus-card-detail button {
  width: calc(100% - 0.5em);
}

.form-title {
  text-align: center;
  margin: 0.5em 0;
}

.form {
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--second-bg-color);
  border-radius: 1em;
}

.form label {
  margin: 0.5em 0.5em 0;
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.form p {
  margin: 0 0.5em 0 0;
  text-align: end;
  width: 100%;
  flex: 1;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  flex: 4;
  padding: 0.5em;
}

.form button {
  background-color: var(--card-bg-color);
}

.invalid ::placeholder {
  color: var(--card-bg-color);
}

.invalid input,
.invalid textarea,
.invalid select {
  border: var(--card-bg-color) solid 3px;
}

.student-list {
  padding: 0.5em 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: max-content;
  grid-auto-columns: calc(150px + 1em);
}

.student-card {
  background-color: var(--card-bg-color);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  width: calc(150px + 0.5em);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

h4,
h5 {
  text-align: center;
  padding: 0.25em 0;
}

.campus-detail {
  padding: 0.5em 0;
  display: flex;
  flex-flow: row wrap;
}

.campus-detail-img {
  margin: 0.25em;
  box-sizing: border-box;
  width: calc(50% - 0.5em);
}

.campus-detail-info {
  margin: 0.25em;
  width: calc(50% - 0.5em);
  display: flex;
  flex-flow: column nowrap;
}

.campus-detail-list {
  width: 100%;
}

.student-detail {
  padding: 0.5em 0;
  display: flex;
  flex-flow: row wrap;
}

.student-detail-img {
  margin: 0.25em;
  box-sizing: border-box;
  width: calc(50% - 0.5em);
}

.student-detail-info {
  margin: 0.25em;
  width: calc(50% - 0.5em);
  display: flex;
  flex-flow: column nowrap;
}

.student-detail-info > div {
  margin: 0.25em;
  padding: 0.25em;
  width: calc(100% - 0.5em);
}

@media (max-width: 948px) {
  .student-detail {
    flex-flow: column nowrap;
    align-items: center;
  }
  .student-detail > * {
    width: calc(100% - 0.5em);
  }
  .campus-detail {
    flex-flow: column nowrap;
    align-items: center;
  }
  .campus-detail > * {
    width: calc(100% - 0.5em);
  }
}

@media (max-width: 956px) {
  .student-list {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 760px) {
  .student-list {
    grid-template-columns: auto auto auto;
  }
  .campus-card {
    flex-flow: column nowrap;
    align-items: center;
  }
  .campus-card-detail {
    padding: 0;
  }
  .campus-card-detail > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .campus-card-detail div:last-child {
    align-self: center;
  }
}

@media (max-width: 572px) {
  .student-list {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 356px) {
  .campus-card {
    width: 100%;
  }
}

@media (max-width: 382px) {
  .student-list {
    grid-template-columns: auto;
  }
}
