* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0.5em;
  background-color: rgba(55, 95, 125, 0.8);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
}

img {
  width: 150px;
  border: solid rgb(55, 95, 125) 2px;
}

button {
  background-color: rgb(55, 95, 125);
  color: aliceblue;
  padding: 0.25em;
  margin: 0.25em;
  border: none;
}

#main-nav {
  padding: 0.5em;
  background-color: rgb(55, 95, 125);
  display: flex;
}

#main-nav > *{
  width: 50%;
}

#main-nav a {
  color: aliceblue;
}

#main-nav > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

#main-nav > div > a:first-child {
  margin: 0 0.5em 0 0;
}

.list-parent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.list-parent > h2 {
  padding: 0.5em 0;
}

.list-nav {
  padding: 0.5em;
  background-color: rgb(55, 95, 125);
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1em);
}

.list-nav a {
  color: aliceblue;
}

.list-nav > div {
  width: 50%;
}

.list-back a:first-child {
  padding: 0 0.5em 0 0;
}

.list-fwrd {
  display: flex;
  flex-direction: row-reverse;
}

.list-fwrd a:first-child {
  padding: 0 0 0 0.5em;
}

.campus-list {
  padding: 0.25em 0;
  display: flex;
  flex-flow: row wrap;
}

.campus-card {
  background-color: rgb(125, 55, 77);
  margin: 0.25em;
  padding: 0.25em;
  width: calc(50% - 1em);
  display: flex;
  flex-flow: row nowrap;
}

.campus-card-detail {
  width: 100%;
  padding: 0 0 0 0.5em;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.campus-card-detail button {
  width: calc(50% - 0.5em);
}

.student-list {
  padding: 0.5em 0;
  display: grid;
  grid-template-columns:
    calc(154px + 1em)
    calc(154px + 1em)
    calc(154px + 1em)
    calc(154px + 1em)
    calc(154px + 1em);
  grid-template-rows: max-content;
  grid-auto-columns: calc(154px + 1em);
}

.student-card {
  background-color: rgb(125, 55, 77);
  margin: 0.25em;
  padding: 0.25em;
  width: calc(154px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 170px;
}

@media (max-width: 846px) {
  .student-list {
    grid-template-columns:
      calc(154px + 1em)
      calc(154px + 1em)
      calc(154px + 1em)
      calc(154px + 1em);
  }
}

@media (max-width: 680px) {
  .student-list {
    grid-template-columns:
      calc(154px + 1em)
      calc(154px + 1em)
      calc(154px + 1em);
}

@media (max-width: 514px) {
  .student-list {
    grid-template-columns:
      calc(154px + 1em)
      calc(154px + 1em);
}

@media (max-width: 348px) {
  .student-list {
    grid-template-columns:
      calc(154px + 1em);
}
